.home__bg {
  background-image: url(https://images.unsplash.com/photo-1567978597387-4591473b0a06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  height: 92vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

.my-style{

  padding-left: 2rem !important;
  background-color: #D6CBC1;
}

.main-div{
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
  justify-content: center !important;
}
.main-div h1{
  text-align: center;
}

.main-div .btn{
 
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}